.video-container {
    position: relative;
    padding-bottom: 50%;
}

.video-container video {
    position: absolute;
    width: 100%;
    height: 100%;
}

/*.btn-primary {*/
/*    width: 50px; !* this could be any value that you want *!*/
/*}*/