{% extends "base.html" %}

{% block content %}
<h1 style="padding: 1rem;">Последние видео</h1>
<div class="container-fluid">
    <div class="row mx-auto row-cols-auto g-4">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/preview.png" alt="превью">
                <div class="card-body">
                    <a href="/video" class="stretched-link"></a>
                    <h5 class="card-title">VideoNameVideoNameVideoNameVideoNameVideoName</h5>
                    <p class="card-text">
                        <a href="/channel/1" class="stretched-link link-body-emphasis text-decoration-none"
                           style="position: relative; z-index: 2;">NameChannel</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/preview.png" alt="превью">
                <div class="card-body">
                    <h5 class="card-title">VideoName</h5>
                    <p class="card-text">
                        <a href="/channel/1" class="stretched-link link-body-emphasis text-decoration-none"
                           style="position: relative; z-index: 2;">NameChannel</a>
                    </p>
                    <a href="/video" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/preview.png" alt="превью">
                <div class="card-body">
                    <h5 class="card-title">
                        VideoNameVideoNameVideoNameVideoNameVideoNameVideoNameVideoNameVideoNameVideoName</h5>
                    <p class="card-text">
                        <a href="/channel/1" class="stretched-link link-body-emphasis text-decoration-none"
                           style="position: relative; z-index: 2;">NameChannel</a>
                    </p>
                    <a href="/video" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/preview.png" alt="превью">
                <div class="card-body">
                    <h5 class="card-title">VideoName</h5>
                    <p class="card-text">
                        <a href="/channel/1" class="stretched-link link-body-emphasis text-decoration-none"
                           style="position: relative; z-index: 2;">NameChannel</a>
                    </p>
                    <a href="/video" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/preview.png" alt="превью">
                <div class="card-body">
                    <h5 class="card-title">VideoName</h5>
                    <p class="card-text">
                        <a href="/channel/1" class="stretched-link link-body-emphasis text-decoration-none"
                           style="position: relative; z-index: 2;">NameChannel</a>
                    </p>
                    <a href="/video" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/preview.png" alt="превью">
                <div class="card-body">
                    <h5 class="card-title">VideoName</h5>
                    <p class="card-text">
                        <a href="/channel/1" class="stretched-link link-body-emphasis text-decoration-none"
                           style="position: relative; z-index: 2;">NameChannel</a>
                    </p>
                    <a href="/video" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/preview.png" alt="превью">
                <div class="card-body">
                    <h5 class="card-title">VideoName</h5>
                    <p class="card-text">
                        <a href="/channel/1" class="stretched-link link-body-emphasis text-decoration-none"
                           style="position: relative; z-index: 2;">NameChannel</a>
                    </p>
                    <a href="/video" class="stretched-link"></a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/static/img/preview.png" alt="превью">
                <div class="card-body">
                    <h5 class="card-title">VideoName</h5>
                    <p class="card-text">
                        <a href="/channel/1" class="stretched-link link-body-emphasis text-decoration-none"
                           style="position: relative; z-index: 2;">NameChannel</a>
                    </p>
                    <a href="/video" class="stretched-link"></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}